.main{
  background-image: URL("https://media.swncdn.com/cms/BST/67147-gettyimages-899906782-noipornpan.1200w.tn.jpg");
}
.h1{
  text-align: center;
  margin-bottom: 40px;
  padding-top: 40px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.buttonContainer{
margin-left: 30%;
margin-right: 30%;
display:flex;
justify-content: space-between;
margin-top: 10px;
}

.addYourOwnContainer{
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
}

.inputBox{
  margin-right: 10px;
  text-align: center;
}

.quoteBoxButton{
  display: block;
  margin: auto;
  
}

